
@{
    ViewData["Title"] = "ListBlobs";
}

<h1 class="display-6">Lista de Blobs</h1>
<div class="mb-3">
	<a asp-action="UploadBlob" class="btn btn-primary">Efetuar Upload de um Blob</a>
</div>
<hr />

