		@model CosmosDB.Models.Curso

@{
	ViewData["Title"] = "Atualização de curso";
}

<h1>Atualização de cursos</h1>


<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="UpdateItem">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3">
				<label asp-for="id" class="control-label"></label>
				<input asp-for="id" class="form-control" readonly />
				<span asp-validation-for="id" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="descricao" class="control-label"></label>
				<input asp-for="descricao" class="form-control" />
				<span asp-validation-for="descricao" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="avaliacao" class="control-label"></label>
				<select asp-for="avaliacao" class="form-select">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
				<span asp-validation-for="avaliacao" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="categoria" class="control-label"></label>
				<select asp-for="categoria" class="form-select"
						asp-items="(SelectList)ViewBag.Categorias">
				</select>

				<span asp-validation-for="categoria" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<input type="submit" value="Atualizar Curso" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

